/* fonts */


@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* styling home page */


body{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Libre Franklin', sans-serif;
    background-color: #F6F8F9;
    /* border: 2px solid red; */
    z-index: 0;
}

/* styling header */

.header{
    /* overflow: hidden; */
    margin-top: 0;
    position: fixed;
    z-index: 10;
    max-width: 1440px;
    width: 100%; 
    height: 51px;
    display: flex;
    justify-content: space-between;
    background: #F6F8F9;
}

.header__logo{
    margin-left: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    font-weight: 700;
    font-size: 0.813rem;
}

.burger__menu{
    visibility: hidden;
}

.header__navigation{
    display: flex;
    align-items: center;
    width: 22.5%;
    height: 100%;
    margin-right: 20px;
}

.header__navigation__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 0.688rem;
    color: #343638;
}

.header__navigation__wnews{
    color: #343638;
    opacity: 50%;
}

.header__navigation__wnews:hover{
    border-bottom: 2px solid #FA6980;
}

.header__active__page{
    color: black;
}

.header__active__page:hover{
    border-bottom: 2px solid #FA6980;

}

.header__navigation__photos{
    color: #343638;
    opacity: 50%;
}

.header__navigation__photos:hover{
    border-bottom: 2px solid #FA6980;
}

.header__navigation__contact{
    color: #343638;
    opacity: 50%;
}

.header__navigation__contact:hover{
    border-bottom: 2px solid #FA6980;
}

/* styling top container */

.top__container{
    display: flex;
    width: 100%;
    height: 599px;
    background: #FFFFFF;
}

/* styling left section */

.top__container__left_section{
    width: 58.3%;
    height: 100%;
    background-image: url("../images/main-image.jpg");
    background-repeat: no-repeat;
    height: 100%;
    z-index: 1;
}

.left__section__title{
    max-width: 560px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    border-bottom: 2px solid white;
    padding: 176px 0 40.5px 0;
    margin-left: 140px;
    margin-bottom: 39.5px;
}

.left__section__main_text{
    max-width: 560px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.left__section__text{
    max-width: 560px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1rem;
    margin: 10px 0 30px 140px;
}

.left__section__button{
    margin-left: 140px;
    border-radius: 6px;
    background-color: #FA6980;
    border-style: none;
    font-weight: 400;
    font-size: 0.688rem;
    color: white;
    transition: all .2s ease-in-out;
}

.left__section__button:hover{
    transform: scale(1.1);
}

.left__section__button_link{
    display: block;
    color: white;
    padding: 15px 30px 15px 30px;
}

/* styling right section */

.top__container__right_section{
    width: 42.7%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right__section__title{
    max-width: 380px;
    color: #202124;
    border-bottom: 2px solid #EBEDED;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 100px 0 39.8px 0;
    margin-left: 100px;
}

.right__section__top_article{
    max-width: 380px;
    margin-left: 100px;
}

.top__article__title{
    font-weight: 700;
    font-size: 1rem;
    color: #FA6980;
    padding-top: 39.2px;
    padding-bottom: 20px;
}

.top__article__subtitle{
    font-weight: 700;
    font-size: 1rem;
    color: #202124;
    padding-bottom: 10px;
}

.top__article__text{
    font-weight: 400;
    font-style: 1rem;
    color: #A6ADB4;
}

.top__article__date{
    font-weight: 400;
    font-size: 0.813rem;
    color: #A6ADB4;
    padding: 10px 0 39px 0;
}

.right__section__bottom_article{
    max-width: 380px;
    margin-left: 100px;
}

.bottom__article__title{
    font-weight: 700;
    font-size: 1rem;
    color: #FA6980;
    padding-bottom: 20px;
}

.bottom__article__subtitle{
    font-weight: 700;
    font-size: 1rem;
    color: #202124;
    padding-bottom: 10px;
}

.bottom__article__text{
    font-weight: 400;
    font-style: 1rem;
    color: #A6ADB4;
}

.bottom__article__date{
    font-weight: 400;
    font-size: 0.813rem;
    color: #A6ADB4;
    padding: 10px 0 39px 0;
}

/* styling middle container */

.middle__container__title{                                       
    font-weight: 700;
    font-size: 1.5rem;
    color: #202124;
    margin: 40px 0 40px 140px;
}

.middle__container{
    display: flex;
    flex-wrap: wrap;
    width: 80.5%;
    height: 360px;
    margin: 0 auto;
}

.middle__container__top_section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.top__section__left_figure{
    background: white;
    border-radius: 6px;
    max-width: 30.3%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.top__section__left_image{
    max-height: 50%;
    max-width: 100%;
    transition: all .2s ease-in-out;
}

.top__section__left_image:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.left__image__figcaption{
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 40px;
    max-height: 50%;
}

.left__image__subtitle{
    color: #202124;
    font-weight: 700;
    font-size: 1rem;
}

.left__image__text{
    color: #A6ADB4;
    margin-top: 9px;
    margin-bottom: 58px;
    max-width: 80%;
    font-weight: 400;
    font-size: 0.813rem;
}

.top__section__middle_figure{
    background: white;
    border-radius: 6px;
    max-width: 30.3%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.top__section__middle_image{
    max-height: 50%;
    max-width: 100%;
    transition: all .2s ease-in-out;
}

.top__section__middle_image:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.middle__image__figcaption{
    display: flex;
    flex-direction: column;
    max-height: 50%;
}

.middle__image__subtitle{
    font-weight: 700;
    font-size: 1rem;
    margin: 40px 0 0 40px;
}

.middle__image__text{
    color: #A6ADB4;
    margin-left: 40px;
    margin-top: 9px;
    margin-bottom: 58px;
    max-width: 80%;
    font-weight: 400;
    font-size: 0.813rem;
}

.top__section__right_figure{
    background: white;
    border-radius: 6px;
    max-width: 30.3%;
    height: 100%;
}

.top__section__right_image{
    max-width: 100%;
    height: 50%;
    transition: all .2s ease-in-out;
}

.top__section__right_image:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.right__image__figcaption{
    display: flex;
    flex-direction: column;
    max-height: 50%;
}

.right__image__subtitle{
    font-weight: 700;
    font-size: 1rem;
    margin: 40px 0 0 40px;
}

.right__image__text{
    color: #A6ADB4;
    margin-left: 40px;
    margin-top: 9px;
    margin-bottom: 58px;
    max-width: 80%;
    font-weight: 400;
    font-size: 0.813rem;
}

/* styling bottom container */

.bottom__container__bottom_title{
    font-weight: 700;
    font-size: 1.5rem;
    color: #202124;
    margin: 40px 0 40px 140px;
}

.bottom__container{
    max-width: 80%;
    max-height: 37.5%;
    margin: 0 auto;
    border-left: 2px solid #707070; 
    padding-left: 48.5px;
    margin-bottom: 100px;
}

.bottom__container__section{
    display: flex;
    justify-content: space-between;
}

/* styling bottom section leftside conteiner */

.bottom__section__leftside_container{
    position: relative;
    width: 67.5%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 56px;
}

/* styling leftside container top content */

.leftside__container__top_content{
    height: 47%;
}

.top__content__image{
    border-radius: 6px;
    position: absolute;
    border-radius: 6px;
    z-index: -1;
    width: 100%;
    height: 363.5px;
}

.top__content__subtatle{
    z-index: 3;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 200px;
    font-weight: 700;
    font-size: 1rem;
    color: white;
}

.top__content__main_text{
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

.top__content__text{
    margin-left: 40px;
    width: 90%;
    z-index: 3;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

/* styling leftside container bottom content */

.leftside__container__bottom_content{
    height: 47%;
}


.bottom__content__image{
    border-radius: 6px;
    position: absolute;
    border-radius: 6px;
    z-index: -1;
    width: 100%;
    height: 362.5px;
}

.bottom__content__subtatle{
    z-index: 3;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 200px;
    font-weight: 700;
    font-size: 1rem;
    color: white;
}

.bottom__content__main_text{
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    z-index: 3;
    font-weight: 700;
    font-size: 1.5rem;
    color: white;
}

.bottom__content__text{
    margin-left: 40px;
    width: 90%;
    z-index: 3;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}

/* styling bottom section rightside container */

.bottom__section__rightside_container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightside__container__top_figure{
    width: 100%;
    height: 31%;
}

.top__figure__image{
    width: 100%;
    height: 75%;
    margin-bottom: 48px;
}

.rightside__top__figcaption_title{
    font-weight: 700;
    font-size: 1rem;
}

.rightside__container__middle_figure{
    width: 100%;
    height: 31%;
}

.middle__figure__image{
    width: 100%;
    height: 75%;
    margin-bottom: 48px;
}

.rightside__middle__figcaption_title{
    font-weight: 700;
    font-size: 1rem;
}

.rightside__container__bottom_figure{
    width: 100%;
    height: 31%;
}

.bottom__figure__image{
    width: 100%;
    height: 75%;
    margin-bottom: 48px;
}

.rightside__bottom__figcaption_title{
    font-weight: 700;
    font-size: 1rem;
}

/* styling footer */

.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    /* height: 8.3%; */
    background-color: #A6ADB4;
}

.footer__logo{
    width: 3%;
    height: 2%;
    margin-top: 55px;
    margin-left: 190.5px;
    font-weight: 700;
    font-size: 0.813rem;
    color: #FFFFFF;
}

.footer__navigation{
    margin-top: 53px;
    margin-bottom: 61px;
    margin-right: 475px;
    width: 25%;
    font-weight: 700;
    font-size: 0.813rem;
    color: #CBD0D3;
}

.footer__navigation__page{
    color: #CBD0D3;
}

.footer__navigation__page:hover{
    color: #CBD0D3;
    border-bottom: 2px solid #FA6980;
}

.footer__navigation__home{
    font-weight: 700;
    font-size: 0.813rem;
    color: #CBD0D3;
}

.footer__navigation__home:hover{
    border-bottom: 2px solid #FA6980
}

.footer__navigation__list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    line-height: 20px
}

.footer__socialmedia__icons{
    margin-top: 55px;
    margin-right: 135.8px;
    width: 9%;
    height: 2%;
    display: flex;
    justify-content: space-between;
}


/* finished styling home page */